.hero {
    width: 100%;
    color: var(--main-btn-color);
    background-color: var(--background-link-color);
    background-image: linear-gradient(var(--hero-gradient-bg)), url(../images/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(var(--hero-gradient-bg)), url(../images/hero-bg-mobile-2x.jpg)
    }

    @media screen and (min-width:768px) {
        // width: 100%;
        color: var(--main-btn-color);
        background-image: linear-gradient(var(--hero-gradient-bg)), url(../images/hero-bg-tablet.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(var(--hero-gradient-bg)), url(../images/hero-bg-tablet-2x.jpg)
        }
    }

    @media screen and (min-width:1200px) {
        max-width: 1600px;
        background-image: linear-gradient(var(--hero-gradient-bg)), url(../images/hero-bg.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(var(--hero-gradient-bg)), url(../images/hero-bg-2x.jpg)
        }

        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 360px;
    margin: 0 auto;

    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
}

.hero__button {
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
    background-color: var(--accent-color);
    min-width: 200px;
    height: 50px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin: auto;
    display: block;
    margin-top: 30px;

    &:hover,
    &:focus {
        color: var(--second-btn-color);
    }
}