.logo-top {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--about-title-color);

    @media screen and (min-width: 1200px) {
        line-height: 1.2;
        font-size: 26px;
    }
}

.logo-bottom {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    @media screen and (min-width: 1200px) {
        line-height: 1.2;
        font-size: 26px;
    }
}