.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    transition: opacity 400ms, visibility 400ms cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 528px;
    background-color: var(--background-second-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(0px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transition: transform 400ms, opacity 400ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    ;
    padding: 40px;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) translateY(-200px);
    }
}

.modal__exit-btn {
    border: 1px solid var(--main-btn-color);
    border-radius: 4px;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        transition: transform 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal__title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline-color: var(--accent-color);
    margin-top: 4px;
    padding-left: 42px;
}

.modal__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    outline-color: var(--accent-color);
    margin-top: 4px;

    &::placeholder {
        font-size: 12px;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--about-title-type-color);
}

.modal__field {
    position: relative;
    margin-top: 10px;

    &:first-child {
        margin-top: 0px;
    }
}

.modal__icon-in {
    position: absolute;
    left: 15px;
    top: 50%;
    color: var(--about-title-color);

    .modal__input:focus+& {
        fill: var(--accent-color);
    }
}

.modal__checkbox-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--benefits-text);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 3px;
        margin-right: 8.5px;

        .modal__checkbox:checked+&::before {
            background-color: var(--accent-color);
            background-image: url(../images/checkbox-accent.svg);
            border: none;
            background-repeat: no-repeat;
            background-position: center;
        }

        .modal__checkbox:focus+&::before {
            border-color: var(--accent-color);
        }
    }
}

.modal__checkbox-link {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

.modal__checkbox {
    margin-top: 20px;
}

.modal__btn {
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
    background-color: var(--accent-color);
    min-width: 200px;
    height: 50px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin: auto;
    display: block;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}