:root {
    --main-btn-color: #ffffff;
    --second-btn-color: #212121;
    --about-title-color: #212121;
    --about-title-type-color: #757575;
    --accent-color: #2196F3;
    --benefits-title: #212121;
    --benefits-text: #757575;
    --team-item-text: #757575;
    --link-text: rgba(255, 255, 255, 0.6);
    --background-color: #E5E5E5;
    --background-second-color: #ffffff;
    --background-link-color: #2F303A;
    --border-porfolio: #EEEEEE;
    --hero-gradient-bg: to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4);
    --team-soc-icon: #AFB1B8;
    --benefits-bg-icon: #F5F4FA;
    --team-bg: #F5F4FA;
    --clients-icon: #AFB1B8;
    --header-icon: #757575;
    --bg-picture-text: rgba(47, 48, 58, 0.8);
    --second-text: #ffffff;
    --bg-portfolio-text: rgba(33, 150, 243, 0.9);
    --backdrop: rgba(0, 0, 0, 0.2);
}